<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">

	<!-- 카테고리 정보 조회용 -->
	<select id="selectList" resultType="CategoryVO">
		select * from category order by category_no asc
	</select>
	
	<!-- 카테고리 추가 -->

</mapper>