<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubMember">

	<insert id="insert">
		insert into club_member(
			club_no, account_id, 
			club_member_role
		) 
		values(
			#{clubNo}, #{accountId}, 
			#{clubMemberRole} 
		)
	</insert>
	
	<!-- 회원 목록 -->
	<select id="selectListByClubNo" resultType="clubMemberDto">
	    select 
	        CM.club_no, 
	        CM.account_id, 
	        CM.club_member_role, 
	        CM.club_member_join, 
	        A.account_nickname as accountNickname, 
	        A.attachment_no as attachmentNo 
	        
	    from club_member CM 
	    inner join 
	        account A on CM.account_id = A.account_id  where 
	        CM.club_no = #{clubNo} 
	    order by 
	        case when CM.club_member_role = '모임장' then 1
	             when CM.club_member_role = '임원' then 2 
	             else 3 end, 
	        CM.club_member_join asc
	</select>

</mapper>