<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club">


	<insert id="create">
		<selectKey keyProperty="clubNo" resultType="int" order="BEFORE">
			select club_seq.nextval from dual 
		</selectKey>
		
		insert into club(
			club_no, club_leader, club_name, club_introduce, 
			region_no, category_no, club_profile, 
			club_max, club_count, club_open
		) 
		values(
			#{clubNo}, #{clubLeader}, #{clubName}, #{clubIntroduce}, 
			#{regionNo}, #{categoryNo}, #{clubProfile}, 
			#{clubMax}, 1, #{clubOpen} 
		) 
	</insert>

</mapper>